<%  @pagseguro_order = PagSeguro::Order.new(@order.number) %>
<%  @order.line_items.each { |item| @pagseguro_order.add :id => item.id, :price => item.price, :description => item.variant.name}  %>
<form action="<%= PagSeguro.gateway_url %>" class="pagseguro" method="post">
</form>
